
arcaders/jadpole\.github\.io/

Cow/cow/

DiningPhilosophers/\.idea/

DiningPhilosophers/Cargo\.lock

ErrorHandling/EH1/Cargo\.lock

FizzBuzz/Cargo\.lock

GuessingGame/GuessingGame/Cargo\.lock

JMArcher_Screencasts/

Playground/AndThenVsMap/\.idea/

Playground/AndThenVsMap/Cargo\.lock

Playground/Stack/\.idea/

Playground/Stack/Cargo\.lock

Playground/TooManyLists/BadStack/Cargo\.lock

Playground/UnnamedFieldsInStruct/Project/Cargo\.lock

ProgrammingRust/MandelbrotSingleThreaded/\.idea/

ProgrammingRust/MandelbrotSingleThreaded/MandelbrotMultiThreaded/\.idea/

ProgrammingRust/MandelbrotSingleThreaded/MandelbrotMultiThreaded/target/

ProgrammingRust/MandelbrotSingleThreaded/Cargo\.lock

ProgrammingRust/MandelbrotSingleThreaded/MandelbrotMultiThreaded/Cargo\.lock

RustBook\.pdf

ProgrammingRust/gcd/\.idea/

ProgrammingRust/iron-gcd/\.idea/

ProgrammingRust/gcd/Cargo\.lock

ProgrammingRust/iron-gcd/Cargo\.lock

Playground/Raytracer/\.idea/

Playground/ConwayGameOfLife/Cargo\.lock

Playground/ConwayGameOfLife/\.idea/

Playground/ConwayGameOfLife/target/

Playground/COW/\.idea/

Playground/COW/target/

NeuralNetwork/\.idea/

NeuralNetwork/target/debug/

NeuralNetwork/target/

NeuralNetwork/Cargo\.lock

Playground/ErrorHandling/\.idea/

Playground/ErrorHandling/Cargo\.lock

Playground/ErrorHandling/target/

NeuralNetwork/MNIST/t10k-images\.idx3-ubyte

NeuralNetwork/MNIST/t10k-labels\.idx1-ubyte

NeuralNetwork/MNIST/train-images\.idx3-ubyte

NeuralNetwork/MNIST/train-images50\.idx3-ubyte

NeuralNetwork/MNIST/train-labels\.idx1-ubyte

NeuralNetwork/MNIST/train-labels50\.idx1-ubyte

NeuralNetwork/MNIST/data/

MergeSort/target/
*.lock
ThoughtsOnLifetimes/target/

HeapSort/target/

DSandAlg/HeapSort/target/

DSandAlg/MergeSort/.idea/

DSandAlg/MergeSort/target/

DSandAlg/InsertionSort/target/

DSandAlg/SelectionSort/target/

DSandAlg/LinkedList/target/

DSandAlg/SinglyLinkedList/target/

DSandAlg/BinarySearch/target/

DSandAlg/QuickSort/target/

DSandAlg/QuickSortMiddle/target/
